<footer>
  <div class="container px-5">
    <div class="row">
      <!-- Location -->
      <div class="col-md-3">
        <div class="about-footer">
          <div class="footer-brand d-flex">
            <a class="d-flex align-items-center navbar__logo" href="#">
              <img
                src="assets/images/icons/logo.png"
                alt="Logo"
                width="35"
                height="35"
                class="d-inline-block align-text-top me-2"
              />
              robogen</a
            >
          </div>
          <p>
            <i class="icon-pointer"></i> Street No. 12, Newyork 12, MD - 123,
            USA.
          </p>
          <p><i class="icon-call-end"></i> 1.800.123.456789</p>
          <p><i class="icon-envelope"></i> infoecoshop.com</p>
        </div>
      </div>

      <!-- HELPFUL LINKS -->
      <div class="col-md-3">
        <h6>HELPFUL LINKS</h6>
        <ul class="link p-0">
          <li><a href="#."> Products</a></li>
          <li><a href="#."> Find a Store</a></li>
          <li><a href="#."> Features</a></li>
          <li><a href="#."> Privacy Policy</a></li>
          <li><a href="#."> Blog</a></li>
          <li><a href="#."> Press Kit </a></li>
        </ul>
      </div>

      <!-- SHOP -->
      <div class="col-md-3">
        <h6>SHOP</h6>
        <ul class="link p-0">
          <li><a href="#."> About Us</a></li>
          <li><a href="#."> Career</a></li>
          <li><a href="#."> Shipping Methods</a></li>
          <li><a href="#."> Contact</a></li>
          <li><a href="#."> Support</a></li>
          <li><a href="#."> Retailer</a></li>
        </ul>
      </div>

      <!-- MY ACCOUNT -->
      <div class="col-md-3">
        <h6>MY ACCOUNT</h6>
        <ul class="link p-0">
          <li><a href="#."> Login</a></li>
          <li><a href="#."> My Account</a></li>
          <li><a href="#."> My Cart</a></li>
          <li><a href="#."> Wishlist</a></li>
          <li><a href="#."> Checkout</a></li>
        </ul>
      </div>

      <!-- Rights -->
      <div class="rights">
        <p>© 2016 ecoshop All right reserved.</p>
      </div>
    </div>
  </div>
</footer>
