#container{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}
i {
    color: gray;
    font-size: 18px;
    cursor: pointer;
    &.rated{
        color: orange;
    }
}
span{
    color: #868686;
    font-size: 13px;
    line-height: 18px;
    margin-left: 5px;
}