<div class="container px-5">
  <div class="subscribe w-100">
    <div class="subscribe__container">
      <div class="subscribe__container__content w-50">
        <h1 class="header">Subscribe to newsletter</h1>
        <form class="d-flex search" role="search">
          <input
            class="form-control search__input"
            type="search"
            placeholder="Email"
            aria-label="Search"
          />
          <button class="btn search__btn">Subscribe</button>
        </form>
        <p class="footer">
          By clicking "Subscribe," you agree to our
          <a href="#">privacy policy</a> and <a href="#">terms of offer</a>.
        </p>
      </div>
    </div>
    <img
      class="subscribe__img"
      src="assets/images/site/subscribe-image.webp"
      alt=""
    />
  </div>
</div>
