.search {
  margin-bottom: 100px;
  &__header {
    &__title {
      color: #000;
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 20px;
    }
  }
  &__filter{
    gap: 34px;
    .btn {
      border-radius: 0.375rem !important;
  }
  .btn-outline-primary {
    position: relative;
    color: #6e6e6e;
    background-color: #dbdbdb;
    height: 40px;
    border: none;
    &:hover{
      color: #333 !important;
      background-color: #ffc42e !important;
    }
    &:first-of-type{
      &::before{
        content: '';
        display: block;
        background-image: url("/assets/images/icons/lego_boy_grayscale.png");
        position: absolute;
      width: 50px;
      height: 64px;
      left: -10px;
      top: -22px;
      background-repeat: no-repeat;
      background-size: cover;
      }
    }
    &:last-of-type{
      &::before{
        content: '';
        display: block;
        background-image: url("/assets/images/icons/lego_girl_grayscale.png");
        position: absolute;
      width: 50px;
      height: 64px;
      left: -10px;
      top: -22px;
      background-repeat: no-repeat;
      background-size: cover;
      }
    }
  }
  .btn-check:checked + .btn {
    color: #333;
    background-color: #ffc42e;
    border-color: #ffc42e;
  }
  &__image{
    position: absolute;
    bottom: -10px;
    left: -0.5em;
  }
}


}
