$main-font:"Lato";
$logo-font:"Raleway";
$button-color:#03a9d9;
$pr-color-red:#DA2E00;
$pr-color:#ffc42e;
$sc-color:#FEE800;
$gray:#A0AEC0;
$gray-v2:#666;
$light-gray:#E2E8F0;
$medium-gray:#6A717D;
$dark-gray:#2D3748;
$list-gray:#718096;
$blue:#41AFFF;
$white-silver: #F8F9FA;
$background: #d9d9d9;
