<div class="container px-5">
  <div class="header">
    <h1 class="header__title text-center">New arrivals</h1>
  </div>
  <div class="row">
    <div class="card card__main">
      <a class="card__wrapper card__main__wrapper" href="">
        <img
          class="card__wrapper__img img-fluid img-fluid"
          src="assets/images/site/product-starship.jpg"
          alt=""
        />
      </a>
      <div
        class="card__content card__main__content d-flex justify-content-between"
      >
        <div class="card__content__info card__main__content__info">
          <span class="card__content__info__title">LEGO Star Wars™ 75355</span>
          <p class="card__content__info__text mt-4">X-Wing Starfighter</p>
        </div>
        <div
          class="card__content__purchase card__main__content__purchase text-center"
        >
          <div class="card__content__purchase__sum">$129.99</div>
          <button class="btn card__content__purchase__btn w-100">Buy</button>
        </div>
      </div>
    </div>
    @for (card of cards; track card){
    <div class="card">
      <a class="card__wrapper" href="">
        <img class="card__wrapper__img img-fluid" src="{{ card.src }}" alt="" />
        <img
          class="card__wrapper__img card__wrapper__img__hover img-fluid"
          src="{{ card.src_hover }}"
          alt=""
        />
      </a>
      <div class="card__content">
        <div class="card__content__info text-center">
          <span class="card__content__info__title">{{ card.title }}</span>
          <p class="card__content__info__text mt-4">{{ card.text }}</p>
        </div>
        <div class="card__content__purchase text-center">
          <div class="card__content__purchase__sum">{{ card.sum }}</div>
          <button class="btn card__content__purchase__btn">Buy</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
