.container{
    margin-bottom: 50px;
    padding-top: 30px;
}
.header{
    &__title{
        color: #000;
        font-weight: bold;
        font-size: 36px;
        line-height: 40px;
        text-align: left;
    }
}
.card{
    width: calc(25% - 24px);
    display: flex;
    align-self: stretch;
    flex-flow: column nowrap;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 12px 12px 38px;
    padding:13px 13px 15px;

    &__wrapper{
        position: relative;
        height: 195px;
        &__img{
            width: 100%;
            height: 100%;
        }
        &__img__hover{
            width: 100%;
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
            border-radius: 9px 9px 0 0
        }
        
        &:hover &__img__hover{
            display: inline;
        }
    }
    &__main{
        width: calc(50% - 24px);
        &__wrapper{
            height: 330px;
            &__img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__content{
        &__info{
            &__title{
                color:#828282 ;
                font-size: 13px;
            }
        }
        &__purchase{
            &__sum{
                color: #000;
                font-weight: bold;
                font-size: 24px;
                line-height: 1.2em;
                margin-bottom: 16px;
            }
            &__btn{
                width: 80%;
                color: #000;
                height: 40px;
                line-height: 40px;
                display: inline-block;
                vertical-align: top;
                font-weight: bold;
                font-size: 14px;
                letter-spacing: 0.01em;
                text-align: center;
                box-sizing: border-box;
                border: none;
                border-radius: 20px;
                padding: 0 20px;
                cursor: pointer;
                background-color: #FFC42E;
                transition: color 0.25s, background-color 0.25s;
                &:hover{
                    background-color: #000;
                    color: #fff;
                }
            }

        }
    }
}