<div class="navbar-container">
  <div class="breadcrumb-container">
    <ul class="breadcrumbs">
      <li><a routerLink="cabinet">Pages</a></li>
      <li>/</li>
      <li>
        <app-ng7-dynamic-breadcrumb
          [bgColor]="'#eee'"
          [fontSize]="'12px'"
          [fontColor]="'#0275d8'"
          [lastLinkColor]="'#000'"
          [symbol]="' << '"
        ></app-ng7-dynamic-breadcrumb>
      </li>
    </ul>
    <ul class="navbar">
      <li>
        <div class="profile">
          <img src="assets/images/icons/person.svg" alt="" />
          <span>Sarkhan Hajibayov</span>
        </div>
      </li>
    </ul>
  </div>
</div>
