.admin-container {
    width: 100%;
    height: 100vh;
  }
  .admin-left{
    background: rgba(248, 249, 250, 1);
    width: 15%;
  }
  app-breadcrumb{
    position: absolute;
    padding-left: 20px;
  }