@import "../../../../styles/variables.scss";
@import "../../../../styles/extends.scss";

.list{
    &__icon{
        height: 30px;
        width: 30px;
        padding: 5px;
        background-color: #fff;
        @extend %bra-15;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
        transition: all 0.6s ease;

        i{
            transition: all 0.6s ease;
        }
    }
    &__item{
        text-decoration: none;
        color: $gray;
        font-weight: 700;
        cursor: pointer;
        @extend %bra-15;
        padding: 10px 5px;
        span{
            transition: all 0.6s ease;
        }
        .disabled__icon {
          cursor: not-allowed !important;
        }
    }
    &__disabled__item{
      cursor: not-allowed;
    }
    .mdc-list-item.mdc-list-item--with-one-line:hover .list__icon {
        background-color: $sc-color;
      }
      .mdc-list-item.mdc-list-item--with-one-line:hover .list__icon i {
        filter: brightness(0.5);
    }
    .mdc-list-item.mdc-list-item--with-one-line:hover .list__item span {
        color: $medium-gray;
    }
    .mdc-list-item.mdc-list-item--with-one-line:hover .list__item{
        background-color: #fff;
    }
    .active-link {
        background: #fff;
        .list__icon{
          background-color: $sc-color;
        }
        .list__icon i {
          filter: brightness(0.5);
        }
        .list__item span {
          color: $medium-gray;
          font-weight: 700;
        }
}
}
.navbar__logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 36px;
  margin: 20px 0;
}
