<div class="container px-5">
  <div class="row no-wrap">
    <ul class="breadcrumb">
      <li class="breadcrumb__icon">
        <a routerLink="main">
          <fa-icon class="fa-sm icon" [icon]="faHouse"></fa-icon>
        </a>
      </li>
      <li>/</li>
      <li>
        <app-ng-dynamic-breadcrumb
          class="p-0"
          [bgColor]="'transparent'"
          [fontSize]="'12px'"
          [fontColor]="'#b2b2b2'"
          [lastLinkColor]="'#000'"
          [symbol]="'/'"
        ></app-ng-dynamic-breadcrumb>
      </li>
    </ul>
  </div>
</div>
