.background{
    height: 200px;
    background-image: url("/assets/images/site/bg-lego.webp");
    background-repeat: no-repeat;
    background-position: center 25%;
    background-size: cover;
    border-radius: 12px;
    box-shadow: 0 3px 4px #999;
    margin-bottom: 10px;
}