@import "./assets/fonts/fonts.scss";
@import "./styles/input.scss";
@import "./styles/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Lato" !important;
}
.btn-outline-primary {
  color: #333 !important;
  border: none;
  background-color: #f1f1f1;
}
.btn-check:checked + .btn {
  color: #333;
  background-color: #ffc42e;
  border-color: #ffc42e;
}
