.navbar {
  padding-top: 16px;
  &__logo {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 36px;
    width: 258px;
  }

  .search {
    position: relative;
    &__input {
      background-color: #f1f1f1;
      width: 390px;
      height: 40px;
      border: none;
      border-radius: 2px;
      font-size: 14px;
      padding: 0 15px;
    }
    &__btn {
      width: 45px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #777777;
      position: absolute;
      right: 0;
      border: none;
      font-size: 16px;
    }
  }

  .phone {
    padding-top: 3px;
    &__num {
      color: #000;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      padding-left: 5px;
    }
    &__time {
      font-size: 12px;
      padding-left: 25px;
    }
  }
}
