<!-- <div class="container px-5">
  <div class="row no-wrap">
    <ul class="breadcrumb">
      <li class="breadcrumb__icon">
        <a routerLink="main">
          <fa-icon class="fa-sm icon" [icon]="faHouse"></fa-icon>
        </a>
      </li>
      <li>/</li>
      <li>
        <app-ng7-dynamic-breadcrumb
          class="p-0"
          [bgColor]="breadcrumbConfig['bgColor']"
          [fontSize]="breadcrumbConfig['fontSize']"
          [fontColor]="breadcrumbConfig['fontColor']"
          [lastLinkColor]="breadcrumbConfig['lastLinkColor']"
          [symbol]="breadcrumbConfig['symbol']">
        ></app-ng7-dynamic-breadcrumb>
      </li>
    </ul>
  </div>
</div> -->
