.navbar {
  background: #ffc42e;
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  .nav-item {
    padding-right: 15px;
    font-weight: bold;
    color: #000;
  }
}

.navbar__btns {
  cursor: pointer;
  &__item__text {
    font-weight: bold;
  }
}
