.container{
    margin-bottom: 50px;
}
.header{
    &__title{
        color: #000;
        font-weight: bold;
        font-size: 36px;
        line-height: 40px;
        text-align: left;
    }
}

.slider__theme{
    background: #fff;
    width: 195px;
    min-height: 305px;
    margin:12px;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    &__image{
        width: 100%;
        height: 100%;
    }
}
