.subscribe{
    position: relative;
    margin: 75px auto;
    padding: 35px 24px;
    box-sizing: border-box;
    background-color: #000;
    border-radius: 12px;
    &__container{
      &__content{
        padding: 0 24px;
        .header{
          font-weight: bold;
          font-size: 36px;
          line-height: 40px;
          margin-bottom: 24px;
          color: #fff;
        }
        .footer{
          color: #fff;
          font-size: 11px;
          line-height: 13px;
          a{
            color: #fff;
          }
        }
      }
    }
    .search {
      margin-bottom: 24px;
        position: relative;
        &__input {
          background-color: #f1f1f1;
          width: 70%;
          height: 40px;
          border: none;
          border-radius: 2px;
          font-size: 14px;
          margin-right:15px;
        }
        &__btn{
          width: 30%;
          color: #000;
          height: 40px;
          line-height: 40px;
          display: inline-block;
          vertical-align: top;
          font-weight: bold;
          font-size: 14px;
          letter-spacing: 0.01em;
          text-align: center;
          box-sizing: border-box;
          border: none;
          border-radius: 20px;
          padding: 0 20px;
          cursor: pointer;
          background-color: #FFC42E;
      }
    }
    &__img{
      position: absolute;
      right: 50px;
      bottom: -30px;
      width: 414px;
      height: auto;
    }
}
